<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <div class="sidenav">
        <a href="#about">Home Page</a>
        <a href="#services">Services</a>
        <a href="#clients">Clients</a>
        <a href="#contact">Contact</a>
        {% if user.is_authenticated %}
        <a href="/logout" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Logout</span> </a>
        {%  else %}
        <a href="/login" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Login</span> </a>
        {% endif %}
    </div>
    <br>
    {%block link%}
    {%endblock%}
    {%block content%}
    {%endblock%}
</body>
</html>