<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="." method="POST">
        <h2 class="text-center">Log in</h2>
        {% csrf_token %}
        {{ form.as_table }}
        <br>
        <button type="submit" class="btn btn-primary btn-block">Log In</button>
        <br><br>
        <div class="clearfix">
            <label class="float-left form-check-label"><input type="checkbox"> Remember me</label><br>
<!--            <a href="/register" class="float-right">Forgot Password?</a>-->
        </div>
    </form>
</body>
</html>