header { /*Fixing the header position and setting it to the top of the page, giving
           it the background style to match the rest of the page, making it take the
           entire width and forcing it to top layer*/
    position: fixed;
    background-color: #111;
    top: 0;
    right: 0;
    width: 100%;
    color: #818181;
    z-index: 1000; /*z-index brings it forward by x layers*/
}

header form{ /*Removing the list decoration for the nav buttons and apply padding to
          the top to center the buttons horizontally with the logo*/
    position: absolute;
    bottom: 8px;
    right: 16px;
    margin-right: 10px;
}
body{
    margin-top: 7em;
    margin-left: 10.5em;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 6em;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}








