{%extends 'base.html'%}
{% load static %}
    {%block style %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    {%endblock%}
    {%block content%}

    <main id="accountmain">
	<h1>Account Password Change</h1>
        {% if added %}
            <h2>Your password has been changed!</h2>
         {% endif %}
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <button type="submit">Save changes</button>
        </form>
    </main>
    {%endblock%}
