{%extends 'base.html'%}
{% load static %}
    {%block style %}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    {%endblock%}
    {%block content%}
    <main>
        <div id="maingridContainer">

            <div id="admin">
                <h2>Admin Panel</h2>
                {% if added %}
                    <h3>Your password has been updated!</h3>
                {% endif %}
                <ul>
                    <li id="adminlogout"><a href="{% url 'logout' %}"><span class="logButton">Logout</span></a></li>
                    <li id="adminaccount"><a href="{% url 'account' %}"><span class="accountButton">Account</span></a></li>
                </ul>
            </div>


  <div id="price">
                <div class="iconimage"><div class="fa-solid fa-magnifying-glass-dollar"></div></div>
                <h3>Price Search</h3>
                <p>Search and compare prices online for best value for money</p>
                <p class="box-button"><a href="/search/">Search ></a></p>
            </div>



            <div id="stock">
                <div class="iconimage"><div class="fa-solid fa-cubes"></div></div>
                <h3>Stock Management</h3>
                <p>Add, manage or remove current stock inventory</p>
                <p class="box-button"><a href="/stock/">Manage Stock ></a></p>
            </div>



            <div id="showcase">
                <div class="iconimage"><div class="fa-solid fa-swatchbook"></div></div>
                <h3>Showcase</h3>
                <p>Add new content to showcase for clients</p>
                <p class="box-button"><a href="{% url 'upload' %}">Add Item ></a></p>
            </div>



            <div id="predict">
                <div class="iconimage"><div class="fa-solid fa-arrow-trend-up"></div></div>
                <h3>Price Prediction</h3>
                <p>Get a prediction for the price trend of current materials</p>
                <p class="box-button"><a href="/pricePrediction/">Get Prediction ></a></p>
            </div>

        </div>
    </main>
    {%endblock%}
