{% load static %}
<!DOCTYPE html>
<html lang="en">
       <head>
               {% block title %}<title>GR Solutions</title>{% endblock %}
               <meta charset="utf-8">
               <meta name="viewport" content="width=device-width, initial-scale=1">
               <meta name="description" content="GR Solutions Business Site">
               <link rel="stylesheet" href="{% static 'css/styles.css' %}">
               {% block style %}
               {% endblock %}

       </head>

       <body>
               <div id="gridContainer">
                   <header>
                       <a href="/" class="logo"> <img src="{% static 'images/logo.png' %}" alt="Gr Solutions"></a>
                   </header>

                   <div id="navigationBar">
                       <nav>
                               <ul>
                                       <li><a href="{% url 'index' %}">Home</a></li>
                                       <li><a href="/products/">Product</a></li>
                                       <li><a href="/contact/">Contact</a></li>
                                       {% if user.is_authenticated %}
                                       <li><a href="/admin/">Admin</a></li>
                                       <li><a href="{% url 'logout' %}" class="nav_link"><span class="logButton">Logout</span></a></li>
                                       {%  else %}
                                       <li><a href="{% url 'login' %}" class="nav_link"><span class="logButton">Login</span> </a></li>
                                       {% endif %}
                               </ul>
                       </nav>
                   </div>

                   {% block content %}
                   {% endblock %}

                   <footer>
                       <p>GR Solutions &copy; 2022</p>
                   </footer>
               </div>
       </body>
</html>
