{% extends "base.html" %}
{% load static %}
{% block content %}
        <main>
                <div id="contactText">
                        <h1>Thank you!</h1>
                        <h2>If you have any more questions you can contact us here:</h2>
                
                        <p><b>Email: </b>contact@grsolutions.uk</p>
                        <p><b>Phone: </b>07xx xxx xxxx</p>

                        <a href="{% url 'index' %}">Return to Home Page</a>

                </div>
        </main>

{% endblock %}

