{% extends "base.html" %}
{% load static %}
{% block content %}
	<main>
		<div id="welcomeText">
			<h1>Welcome to GR Solutions</h1>


			<p>We are a small business that create a variety</p>
			<p>of products based on user needs</p>

			<div id="indexButtons">
				<ul>
					<li id="contactButton"><a href="/contact/"><span>Contact Us</span></a></li>
					<li id="learnButton"><a href="/learn/"><span>Learn More</span></a></li>
				</ul>
			</div>
		</div>
		<div id="imageOuter">
			<img id="image" src="{% static 'images/image.png' %}" alt="Collection of technology and various shapes"/>
		</div>
	</main>

{% endblock %}
