{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">

<main>
    <div id="header">
        <span class='logo'>Available Products</span>
    </div>
            <div class="row">
                {% for document in documents %}
                <img src="/{{ document.docfile.url }}"  height="200" width="200" />

                <div>
                    <h2> {{ document.name }} </h2>
                    <p> {{ document.desc }} </p>
                </div>
                {% endfor %}
                <a href="{% url 'index' %}">Return to Home Page</a>
            </div>
           
    
  
</main>
{%endblock%}