{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">

<main>
    <div id="header">
        <span class='logo'>Available Products</span>
    </div>
            <div>
                <img src="{{ document.docfile.url }}"  height="200" width="200" />

                <div>
                <h2> {{ document.title.url }} </h2>
                <p> {{ document.docfile.desc }} </p>
                </div>

                <a href="{% url 'index' %}">Return to Home Page</a>
            </div>
           
    
  
</main>
{%endblock%}